TestTxScopeTransaction/Product/Product.Service/Service References/CustomerProxy/Server1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Customer.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Customer.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
</xs:schema>