TestTxScopeTransaction/Product/Product.Service/Service References/OrderProxy/Server2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
</xs:schema>